form, body  {
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 32px;

}
.double {
    width: 150px;
}
.single {
    width: 75px;
}

#display {
    width: 320px;
    pointer-events: none;
    background-color:rgb(244, 245, 171);
    border: 0;
}

#calculator {
    background-color: grey;
}